<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in User</title>
</head>
<body>
    welcome {{request.user}}
    <p>this Page is for Logged in user and this is the best page in this whole universe and this whole milky way galaxy and this is favourite website for aliens and this is the best</p>
    <a href="/logout">Logout</a>
</body>
</html>